body{
    font-family: 'Anton', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
    margin: 0px;
}
.orange{
    color: rgb(214, 172, 118);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 55%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(47, 110, 226), skyblue);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(image/icon.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-blend-mode:color-dodge;

}